# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# This is config with external SD card inserted. Without it 
# internal eMMC detected as mmcblk0
# MTD device name       Device offset   Env. size       Flash sector size
/dev/mmcblk1boot1	 0x3fe000	0x2000
